1. Find the Position of Word (Find-the-Position-of-Word.xlsx)
Suppose you have been given a word say "and" and you need to find which word position is this
1. In Mr. and Mrs. Smith - Position of "and" is 2 as this is the 2nd word, the position is not 5.
2. In Samarand Smith and Kittie Smith - the position is 3 not 2 as "and" is appearing in the first
word also but not as a single word.
3. You need to write a formula which finds the word position for the word "and"

In [1]:
import pandas as pd

In [2]:
file = 'F:\\Full Stack Data Scientist Course\\Excel Assignment\\Find-the-Position-of-Word.xlsx'

In [3]:
df = pd.read_excel(file,header=None)

In [4]:
df = df.dropna(how='all').dropna(how='all',axis=1)

In [5]:
df = df.reset_index(drop=True)

In [6]:
key = 'and'
df['"and" position'] = -1

In [7]:
for i in df.index:
    value = df.iloc[i][0]
    split_value = value.split()
    if key in split_value:
        pos = split_value.index(key)
        df.at[i,'"and" position'] = pos

In [8]:
df

                                         0  "and" position
0                     Mr. and Mrs John Doe               1
1  The Reverend John Doe and Mrs. Jane Doe               4
2                                      and               0
3                        Myranda and Lynda               1
4                                 Rama and               1
5                                 and rama               0